
<div id="side-menu-underlay">
    <div class="side-menu">
        <div class="menu-bar">
        <h1 class="menu-logo" onclick="location.href='/'">Race Gambit</h1>
        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #ffadad" onclick="exitMenu();"></i>
        </div>
        <% if (!isAuth) { %>
        <form action="/login" class="form-width">
            <button type="submit" class="sign-in side-menu-button">SIGN IN</button>
        </form>
        <form action="/guest" class="form-width">
            <button type="submit" class="sign-in side-menu-button">SIGN IN AS GUEST</button>
        </form>
        <form action="/registration" class="form-width">
            <button type="submit" class="register side-menu-button">REGISTER</button>
        </form>
        <% } else if (isAuth) { %>
        <div class="menu-items">
            <div class="menu-item" onclick="location.href='/bets/Placement';">
            <p href="">PLACEMENT</p>
            <i class="fa-solid fa-flag-checkered"></i>
            </div>
            <div class="menu-item" onclick="location.href='/bets/Qualification';">
            <p href="">QUALIFICATION</p>
            <i class="fa-solid fa-stopwatch"></i>
            </div>
            <div class="menu-item" onclick="location.href='/bets/5050';">
            <p href="">YES/NO</p>
            <i class="fa-solid fa-dice"></i>
            </div>
            <div class="menu-item" onclick="location.href='/bets/Pitstops';">
            <p href="">PIT STOPS</p>
            <i class="fa-solid fa-gears"></i>
            </div>
            <div class="menu-item" onclick="location.href='/leagues';">
            <p href="">MY LEAGUES</p>
            <i class="fa-solid fa-user-group"></i>
            </div>
        </div>
        <form action="/logout" class="form-width" method="post">
            <button type="submit" class="register side-menu-button">SIGN OUT</button>
        </form>
        <% } %>
    </div>
</div>
<div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">Race Gambit</a>
    </div>
    <% if (!isAuth) { %> 
        <div class="right-header">
          <form action="/login">
            <button class="sign-in header-btn" type="submit">SIGN IN</button>
          </form> 
          <form action="/registration">
            <button class="register header-btn" type="submit">REGISTER</button>
          </form>
        </div>
      <% } %>
      <% if (isAuth) { %> 
        <div class="right-header">
          <form action="/account" method="GET">
            <button class="sign-in header-btn" type="submit">ACCOUNT</button>
          </form>
          <form action="/logout" method="POST">
            <button class="register header-btn" type="submit">SIGN OUT</button>
          </form> 
        </div>
      <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="large-tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
    <div class="small-tabs-bar">
      <div class="small-tabs-button">
        <i class="fa-solid fa fa-bars fa-xl" onclick="displayMenu();"></i>
      </div>
      <div class="small-logo">
        <p onclick="location.href='/'">RG</p>
      </div>
    </div>
  </div>