<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <label for="WinDistro">Distribute Winnings for Placement/Qualification</label>
    <form name="WinDistro" action="/Bets/DistributeWinnings" method="POST">
        <select name="category" id="category" required>
            <option value="Placement">Placement</option>
            <option value="Qualification">Qualification</option>
        </select>
        <input type="text" name="year" id="year" placeholder="year" required>
        <input name="round" type="number" id="round" placeholder="round" required>
        <button type="submit">Distribute</button>
    </form>
    <label for="pitdistro">Distribute Winnings for Pitstops</label>
    <form action="" name="pitdistro">
    </form>

    <label for="AddBet">Adding Bets</label>
    <form name="AddBet" action="/Bets/AddBet" method="POST">
        <input type="text" placeholder="Bet Name" name="betName">
        <select name="category" id="category">
            <option value="Placement">Placement</option>
            <option value="Qualification">Qualification</option>
            <option value="5050">50/50</option>
            <option value="Pitstops">Pit Stop</option>
        </select>
        <button type="submit">Add Bet</button>
    </form>

    <form action="/Admin/SendMail" method="POST">
        <button type="submit">Send Mail</button>
    </form>
    <form action="/Admin/CreateCrypt" method="POST">
        <button type="submit">Create Crypt</button>
    </form>
    <form action="/Bets/DistributeWinnings/Placement" method="POST">
        <button type="submit">Distribute Winnings</button>
    </form>
    <form action="/Bets/UnlockBets" method="POST">
        <button type="submit">Unlock Bets</button>
    </form>
    <form action="/Bets/ClearBets" method="POST">
        <button type="submit">Clear Bets</button>
    </form>
</body>
</html>