<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
</head>
<body class="flex-body">
    <div class="log-header-box">
        <div class="left-header">
            <a class="header-logo" href="/">F1 Bets</a>
        </div>
        <div class="right-header">
            .
        </div>
    </div>
    <div class="header-div-bar">
        <p class="bar-text" class="header-logo" >Sign In</p>
    </div>
    <div class="register-form-box" style="text-align: center;">
        <h1>Please check Email to verify your email</h1>
        
    </div>
</body>
</html>