<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/212b4b3f17.js" crossorigin="anonymous"></script>

    <title>My Leagues</title>
    <script>
        function leaguePage(leagueId, leagueName){
            fetch('/Leagues/LeagueInfo', {
            method: 'POST',
            body: JSON.stringify({ leagueId, leagueName }),
            headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(function(err) {
            console.info(err + " url: " + url);
            });
        }

        var leagueResult; 

        function joinLeague(){
            const leagueName = document.getElementById('leagueSearch').value
            fetch('/Leagues/SearchLeague', {
              method: 'POST', 
              body: JSON.stringify({ leagueName }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then((data) => {
              if (!data){
                alert("League with that name does not exist")
              } else {
                const overlay = document.getElementById('league-overlay')
                overlay.style.display = 'flex';
                leagueResult = data[0];
              }
            })
        }

        function leaguePass(){
          const leaguePassword = document.getElementById('league-password').value
          if (leaguePassword == leagueResult.LeaguePassword){
            fetch('Leagues/JoinLeague', {
              method: 'POST',
              body: JSON.stringify({ leagueResult, leaguePassword }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                  alert("You Are Already in This League")
                }
            })
          } else {
            alert('Incorrect League Password')
          }
        }

        window.onclick = e => {
            if (e.target.id == 'league-overlay'){
              const overlay = document.getElementById('league-overlay')
              overlay.style.display = 'none'
            }
        }  
        var menuVis = false;

      function displayMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'block'
        menuVis = true;
      }

      function exitMenu(){
        let overlay = document.getElementById('side-menu-underlay')
        overlay.style.display = 'none'
        menuVis = false;
      }

      addEventListener("click", (e) => {
        let target = e.target
        if (menuVis && target.id == 'side-menu-underlay'){
          let overlay = document.getElementById('side-menu-underlay')
          overlay.style.display = 'none'
          menuVis = false;
        }
      })
    </script>
</head>
<body>
  <div id="side-menu-underlay">
    <div class="side-menu">
      <div class="menu-bar">
        <h1 class="menu-logo" onclick="location.href='/'">Race Gambit</h1>
        <i class="fa-solid fa-circle-xmark fa-lg" style="color: #ffadad" onclick="exitMenu();"></i>
      </div>
      <% if (!isAuth) { %>
        <form action="/login" class="form-width">
          <button type="submit" class="sign-in side-menu-button">SIGN IN</button>
        </form>
        <form action="/registration" class="form-width">
          <button type="submit" class="register side-menu-button">REGISTER</button>
        </form>
      <% } else if (isAuth) { %>
        <div class="menu-items">
          <div class="menu-item" onclick="location.href='/bets/Placement';">
            <p href="">PLACEMENT</p>
            <i class="fa-solid fa-flag-checkered"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Qualification';">
            <p href="">QUALIFICATION</p>
            <i class="fa-solid fa-stopwatch"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/5050';">
            <p href="">YES/NO</p>
            <i class="fa-solid fa-dice"></i>
          </div>
          <div class="menu-item" onclick="location.href='/bets/Pitstops';">
            <p href="">PIT STOPS</p>
            <i class="fa-solid fa-gears"></i>
          </div>
          <div class="menu-item" onclick="location.href='/leagues';">
            <p href="">MY LEAGUES</p>
            <i class="fa-solid fa-user-group"></i>
          </div>
        </div>
        <form action="/logout" class="form-width" method="post">
          <button type="submit" class="register side-menu-button">SIGN OUT</button>
        </form>
      <% } %>
    </div>
  </div>
  <div id="league-overlay">
    <div class="league-password">
      <input type="text" placeholder="League Password" id="league-password">
      <button type="button" onclick="leaguePass()">Join League</button>
    </div>
  </div>
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
        <div class="right-header">
          <form action="/login">
            <button class="sign-in header-btn" type="submit">SIGN IN</button>
          </form> 
          <form action="/registration">
            <button class="register header-btn" type="submit">REGISTER</button>
          </form>
        </div>
      <% } %>
      <% if (isAuth) { %> 
        <div class="right-header">
          <form action="/account" method="GET">
            <button class="sign-in header-btn" type="submit">ACCOUNT</button>
          </form>
          <form action="/logout" method="POST">
            <button class="register header-btn" type="submit">SIGN OUT</button>
          </form> 
        </div>
      <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="large-tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
    <div class="small-tabs-bar">
      <div class="small-tabs-button">
        <i class="fa-solid fa fa-bars fa-xl" onclick="displayMenu();"></i>
      </div>
      <div class="small-logo">
        <p onclick="location.href='/'">RG</p>
      </div>
    </div>
  </div>
  <div class="league-bar">
    <form action="/LeagueCreateForm" method="GET">
        <button class="league-btn">Create League</button>
    </form>
    <input type="text" name="leagueSearch" id="leagueSearch" placeholder="League Name" onsubmit="joinLeague()">
    <button class="league-btn" type="button" onclick="joinLeague()">Search Leagues</button>
  </div>
    <div class="index-box">
        <div class="league-list">
        <% if (leagues.length > 0) {  %> 
            <% for (let i = 0; i < leagues.length; i++) { %> 
            <button class="league-box" onclick="leaguePage(`<%- leagues[i].league_id %>`,`<%- leagues[i].LeagueName %>`)"> <%- leagues[i].LeagueName %> </button>
            <% } %> 
        <% } %> 
        </div>
    </div>
</body>
</html>