<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>My Leagues</title>
    <script>
        function leaguePage(leagueId, leagueName){
            fetch('/Leagues/LeagueInfo', {
            method: 'POST',
            body: JSON.stringify({ leagueId, leagueName }),
            headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(function(err) {
            console.info(err + " url: " + url);
            });
        }

        var leagueResult; 

        function joinLeague(){
            const leagueName = document.getElementById('leagueSearch').value
            fetch('/Leagues/SearchLeague', {
              method: 'POST', 
              body: JSON.stringify({ leagueName }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then((data) => {
              if (!data){
                alert("League with that name does not exist")
              } else {
                const overlay = document.getElementById('league-overlay')
                overlay.style.display = 'flex';
                leagueResult = data[0];
              }
            })
        }

        function leaguePass(){
          const leaguePassword = document.getElementById('league-password').value
          if (leaguePassword == leagueResult.LeaguePassword){
            fetch('Leagues/JoinLeague', {
              method: 'POST',
              body: JSON.stringify({ leagueResult, leaguePassword }),
              headers: { 'Content-Type': 'application/json' }
            })
            .then((response) => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                  alert("You Are Already in This League")
                }
            })
          } else {
            alert('Incorrect League Password')
          }
        }

        window.onclick = e => {
            if (e.target.id == 'league-overlay'){
              const overlay = document.getElementById('league-overlay')
              overlay.style.display = 'none'
            }
        }  

    </script>
</head>
<body>
  <div id="league-overlay">
    <div class="league-password">
      <input type="text" placeholder="League Password" id="league-password">
      <button type="button" onclick="leaguePass()">Join League</button>
    </div>
  </div>
  <div class="header-box">
    <div class="left-header">
      <a class="header-logo" href="/">F1 Bets</a>
    </div>
    <% if (!isAuth) { %> 
        <div class="right-header">
          <form action="/login">
            <button class="sign-in header-btn" type="submit">SIGN IN</button>
          </form> 
          <form action="/registration">
            <button class="register header-btn" type="submit">REGISTER</button>
          </form>
        </div>
      <% } %>
      <% if (isAuth) { %> 
        <div class="right-header">
          <form action="/account" method="GET">
            <button class="sign-in header-btn" type="submit">ACCOUNT</button>
          </form>
          <form action="/logout" method="POST">
            <button class="register header-btn" type="submit">SIGN OUT</button>
          </form> 
        </div>
      <% } %> 
  </div>
  <div class="tabs-bar">
    <div class="tabs">
      <a class='tab-head' id='popular' href="/bets/Placement"> PLACEMENT </a> 
      <a class='tab-head' id='trending' href="/bets/Qualification" > QUALIFICATION </a>
      <a class='tab-head' id='new' href="/bets/5050"> YES/NO </a>
      <a class="tab-head" id="pitstop" href="/bets/Pitstops">PIT STOPS</a>
      <a class="tab-head" id='create' href="/leagues"> MY LEAGUE </a>
    </div>
  </div>
  <div class="league-bar">
    <form action="/LeagueCreateForm" method="GET">
        <button class="league-btn">Create League</button>
    </form>
    <input type="text" name="leagueSearch" id="leagueSearch">
    <button class="league-btn" type="button" onclick="joinLeague()">Search Leagues</button>
  </div>
    <div class="index-box">
        <div class="league-list">
        <% if (leagues.length > 0) {  %> 
            <% for (let i = 0; i < leagues.length; i++) { %> 
            <button class="league-box" onclick="leaguePage(`<%- leagues[i].league_id %>`,`<%- leagues[i].LeagueName %>`)"> <%- leagues[i].LeagueName %> </button>
            <% } %> 
        <% } %> 
        </div>
    </div>
</body>
</html>