<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Sign In</title>
</head>
<body class="flex-body">
    <div class="log-header-box">
        <div class="left-header">
            <a class="header-logo" href="/">Race Gambit</a>
        </div>
        <div class="right-header">
            .
        </div>
    </div>
    <div class="header-div-bar">
        <a class="bar-text" href="/login" style="background-color: black;">Sign In</a>
        <a class="bar-text" href="/registration">Register</a>
    </div>
    <div class="register-form-box">
        <div class="form-header">
            <h1>Sign In</h1>
        </div>
        <div>
            <form class="form" action="/UserAuth/loginUser" method="POST">
                <label for="email">Email Address</label>
                <input type="email" name="email" placeholder="Email Address" minlength="1" max="40" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" minlength="8" maxlength="20" required>
                <button type="submit" class="header-btn register-btn">Sign In</button>
            </form>
            <% if (errorMessage) {%> 
                <div class="error-message"><%= errorMessage %></div>
            <% } %> 
        </div>
    </div>
</body>
</html>