<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Registration</title>
</head>
<body class="flex-body">
    <div class="log-header-box">
        <div class="left-header">
          <a class="header-logo" href="/">Race Gambit</a>
        </div>
        <div class="right-header">
            .
        </div>
    </div>
    <div class="header-div-bar">
        <a class="bar-text" href="/login">Sign In</a>
        <a class="bar-text" href="/registration" style="background-color: black;">Register</a>
    </div>
    <div class="register-form-box">
        <div class="form-header">
            <h1>CREATE ACCOUNT</h1>
        </div>
        <div>
            <form class="form" action="/UserAuth/registerUser" method="POST">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" placeholder="First Name" maxlength="20" required>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" placeholder="Last Name" maxlength="20" required>
                <label for="team">Team</label>
                <select name="team" id="" required>
                    <option value="" disabled selected hidden>Teams</option>
                    <option value="redbull">Oracle Red Bull Racing</option>
                    <option value="ferrari">Scuderia Ferrari</option>
                    <option value="mercedes">Mercedes-AMG PETRONAS Formula One Team</option>
                    <option value="mclaren">Mclaren Racing Formula 1 Team</option>
                    <option value="alpine">BWT Alpine F1 Team</option>
                    <option value="aston">Astron Martin Aramco Cognizant Formula One</option>
                    <option value="haas">HAAS F1 Team</option>
                    <option value="williams">Williams Racing</option>
                    <option value="alfa">Alfa Romeo F1</option>
                    <option value="alpha">Scuderia AlphaTauri</option>
                </select>
                <label for="dataOfBirth">Date of Birth</label>
                <input type="date" name="dateOfBirth" placeholder="(MM/DD/YYYY)" required>
                <label for="email">Email Address</label>
                <input type="email" name="email" placeholder="Email Address" maxlength="40" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" minlength="8" maxlength="20" required>
                <label for="passwordConfirm">Password Confirmation</label>
                <input type="password" name="passwordConfirm" placeholder="Re-enter Password" minlength="8" maxlength="20" required>
                <button type="submit" class="header-btn register-btn">REGISTER</button>
            </form>
        </div>
    </div>
</body>
</html>